<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Boutique en ligne O'Coffee" />
    <meta
      name="keywords"
      content="cafée, coffee, boutique, HautsdeCoques, Jaqcques et Jean Pepper"
    />

    <link rel="stylesheet" href="/css/base/_reset.css" />
    <link rel="stylesheet" href="/css/abstracts/_variables.css" />
    <link rel="stylesheet" href="/css/base/_typography.css" />
    <link rel="stylesheet" href="/css/base/_general.css" />
    <link rel="stylesheet" href="/css/components/_navigation.css" />
    <link rel="stylesheet" href="/css/layouts/<%= css %>.css" />
    <link rel="stylesheet" href="/css/abstracts/_media.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <title>oCoffee</title>
  </head>
  <body>
  
    
    <header class="header ">
      <nav class="navigation">
        <div class="navigation__header">
          <img
            class="navigation__header__logo"
            src="/images/logo.svg"
            alt="oCoffee-logo"
            aria-label="oCoffee-logo"
          />
          <span class="navigation__header__title">oCoffee</span>
        </div>

        <ul class="navigation__menu">
          <li>
            <a class="navigation__link" href="/">Accueil</a>
          </li>
          <li>
            <a class="navigation__link" href="/about">A propos</a>
          </li>
          <li>
            <a class="navigation__link" href="/catalog">Catalogue</a>
          </li>
          <li>
            <a class="navigation__link" href="/contact">Contact</a>
          </li>
          <li>
            <a class="navigation__link--emphasize" href="/shop"
              >Boutique</a
            >
            <span id="cartItemCount"></span>
          </li>
        </ul>
        <button class="navigation__menu-mobile">
          <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
          <ion-icon class="icon-mobile-nav-close" name="close-outline"></ion-icon>
        </button>
      </nav>
      
      
    </header>