:root {
  --text--color--title: #3c1c04;
  --text--color--nav: #3c1c04;

  --text--color--regular: #000;
  --text--color--light: #fcdcbc;
  --text--color--medium: #3c1c04;
  --news--article--border-radius: 25px;
  --btn--background--default: #fcdcbc;
  --btn--background--hover: #3c1c04;
  --btn--text--color--default: #3c1c04;
  --btn--text--color--hover: #fcdcbc;
  --btn--text--color--hover--medium: #84644c;
  --btn--border-radius: 2rem;

  --btn--slider--border-radius: 1rem 1rem 1rem 1rem;
  --img--border-radius: 1rem;
  --text--border-radius: 1rem;
}
